<?xml version="1.0"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="Arus Monolog Telegram Handler Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./src</directory>
        </whitelist>
    </filter>
    <php>
        <env name="TELEGRAM_TOKEN" value="839942474:AAFIQNWwRt3trHKqtjeBTiD7MsSQkVZXIgM"/>
        <env name="TELEGRAM_RECIPIENT" value="-377061128"/>
    </php>
</phpunit>
